.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 36px;
  margin: 0;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../images/heartliked.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url("../images/hoverheartliked.svg");
}

/* DELETE BUTTON */
.card {
  position: relative;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../images/delete.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.card__delete-btn_deleted {
  background-image: url("../images/delete.svg");
}

.card__delete-btn:hover {
  background-image: url("../images/deletehover.svg");
  opacity: 1;
}
/* END */

/* Media Query */
@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
